@keyframes waveMove {
    from {
        background-position: 0 100%;
    }
    to {
        background-position:-20px 100%;
    }
}

a.effect-link {
    font-size: 1.2vw;
    color: #547cea;
    cursor: pointer;

    &:hover {
        color: #0d44dd;
        text-decoration: none;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%230d44dd' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%;
        background-size: 20px auto;
        animation: waveMove 1s infinite linear;
    }
}

.top-title {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    line-height: 1.2;
    font-weight: 300;
    padding: 20px 0 0 0;
    font-size: 60px;
    text-align: center;
}

.top-sub-title {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    line-height: 1.2;
    font-weight: 200;
    padding: 0;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}