{
    "plugins": [
        ["@babel/plugin-transform-react-jsx", {
            "pragma": "Alienact.createElement"
        }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import"
    ]
}